data/ingreso2017ene_dic__2017.csv filter=lfs diff=lfs merge=lfs -text
data/ingreso2018ene_dic__2018.csv filter=lfs diff=lfs merge=lfs -text
data/ingreso2019ene_dic__2019.csv filter=lfs diff=lfs merge=lfs -text
data/ingreso2020ene_may__2020.csv filter=lfs diff=lfs merge=lfs -text
